:root {
  --darkblue: #17223B;
  --lightblue: #5294EB;
  --gray : #E8EEF2;
  --yellow: #FFE74C;
  --lightbrown : #D6C9C9;

}

*{
  margin: 0;
  /* padding: 0; */
  font-family: 'Roboto', sans-serif;
}

header{
  background: var(--darkblue);
  color: var(--lightbrown);
  display: flex;
  justify-content: flex-end;
  block-size: 48px;
  padding-block: 8px;
}


.header-content{
  margin-inline: 22px;
  font-size: 14px;
}

.hero{
  block-size: 792px;
  background-color: rgba(23, 34, 59, 0.57);
  background-blend-mode: multiply;
  background-image: url("../img/hero/iStock-1275786906.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  padding-inline: 88px;

}

nav{
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li{
  margin-inline: 16px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

.hero-container{
  color: white;
}

.descripcion{
  inline-size: 862px;

}

.descripcion h1{
  font-size: 60px;
}

.descripcion ul{
  padding: 0;
}
.descripcion ul li {
  list-style: none;
}

.descripcion ul img {
  margin-inline-end: 16px;
  margin-block: 16px;
}

.descripcion button {
  margin-block-start: 60px;
  background: var(--lightblue);
  border-radius: 4px;
  padding: 6px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 500;
}

.service{
  margin-block: 64px;
  margin-inline-start: 88px;
}

.service-container{
  display: flex;
}

.service-content {
  border-radius: 4px;
  padding: 16px;
}

.service-content .contenedor-img{
  background-color: #17223B;
  block-size: 48px;
  inline-size: 48px;
  border-radius: 100px;
  text-align: center;
  margin-block-end: 36px;

}

.contenedor-img img{
  padding-block-start: 11px;
}

.presupuesto {
  margin-block-end: 74px;
  text-align: center;
}

.presupuesto > p{
  font-size: 34px;
}


.historia .exito{
  writing-mode: vertical-lr;
  /* text-orientation: upright; */
  transform: rotate(180deg);

}

.historia .exito p{
  background-color: #17223B;
  color: white;
  display: inline-block;
  padding-inline: 36px;
  padding-block: 5px;
  font-size: 24px;
  block-size: 40px;
}

.historia {
  display: flex;
  justify-content: center;
  margin-block-end: 49px;
}

.form-content{
  background: #17223B;
  color: white;

}

.proyect-content{
  display: flex;
}

.proyect-content h2 {
  color: #5294EB;
  font-size: 60px;
  font-weight: 700;
  text-align: start;

}

.proyect-content p{
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  text-align: start;
}

.proyect-content p + p{

  color: rgba(0, 0, 0, 0.57);
  font-size: 14px;
  text-align: start;
}



.form-content input{
  display: block;
  inline-size: 522px;
}

.form-content textarea{
  inline-size: 522px;
  resize: none;
}

.clientes {
  background: #17223B;
  color: white;
  text-align: center;
  padding: 24px;

}

.clientes img{
  margin-inline-end: 53px;
}

header p{
  display: inline-block;
}

footer{
  text-align: center;
}

footer picture img{
  margin: 5px;
}

footer picture:nth-child(1) img{
  inline-size: 419px;
  block-size: 353px;
}

footer picture:nth-child(2) img {
  inline-size: 419px;
  block-size: 465px;
}

footer picture:nth-child(3) img {
  inline-size: 419px;
  block-size: 465px;
}

footer picture:nth-child(4) img {
  inline-size: 419px;
  block-size: 465px;
}

